.learnmore {
  color: #3e4852;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: 800;
  font-family: "Athiti-Bold";
}

h1 {
  font-family: "DaylightDreams";
}

.view-all {
  text-transform: uppercase;
  font-family: "Athiti-Bold";
  border: 1px solid #3e4852;
  color: #3e4852;
  text-align: center;

  padding: 0.8rem 1rem;
}

.add-to-cart {
  text-transform: uppercase;
  box-shadow: 0px 6px 16px #5e5f5f15;
  font-family: "Athiti-Bold";
  background: #ffff;
  position: relative;
  /* padding: 0.8rem 3rem 0.8rem 5rem;
  &:before {
    content: "";
    position: absolute;
    width: 1rem;
    height: 1rem;
    background: url(../../dist/img/cart-small.svg);
    background-repeat: no-repeat;
    width: 1rem;
    height: 1rem;
    background-size: contain;
    transform: translate(-340%, -50%);
    left: 50%;
    top: 50%;
  } */
}

.add-to-cart.blue {
  &:before {
    background: url(../../dist/img/cart-blue.svg);
  }
}
.add-to-cart.green {
  &:before {
    background: url(../../dist/img/cart-green.svg);
  }
}
.search-form {
  position: relative;
}
.search-form button {
  background-color: transparent;
  border: none;
  outline: none;
  color: #1b2033;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 0 2rem;
  transition: all 0.3s ease;
}
.searchwrap {
  width: 100%;
}

.form-control {
  padding: 0.641rem 4.25rem;
}

.learn-more {
  text-transform: uppercase;
  padding: 0.8rem 3rem;
  box-shadow: 0px 6px 16px #5e5f5f15;
  font-family: "Athiti-Bold";
  color: #3e4852;
  background: #ffff;
  position: relative;
  margin-top: 3rem;
  display: inline-block;
}

.shop {
  text-transform: uppercase;
  padding: 0.8rem 1.5rem 0.8rem 3rem;
  box-shadow: 0px 6px 16px #5e5f5f15;
  font-family: "Athiti-Bold";
  background: #ffff;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 1rem;
    height: 1rem;
    background: url(../../dist/img/cart-black.svg);
    background-repeat: no-repeat;
    width: 1rem;
    height: 1rem;
    background-size: contain;
    transform: translate(-460%, -50%);
    left: 50%;
    top: 50%;
  }
}

.main-container.content > section::before {
  display: none;
}

.content {
  @media screen and (max-width: 768px) {
    padding-top: 7rem;
  }
}

.page-banner {
  .searchwrap {
    @media screen and (min-width: 1440px) {
      margin-left: 5rem;
    }
    .search-form {
      @media screen and (min-width: 1440px) {
        width: 80%;
      }
    }
  }
}

.other-wrap {
  a.add-to-cart.btn {
    margin-top: 2rem;
  }
  h5 {
    margin-bottom: 2rem;
  }
}

.hat-img_carousel .slick-arrow {
  @media screen and (max-width: 768px) {
    display: none !important;
  }
}

.navbar-collapse {
  .search-box {
    @media screen and (max-width: 1440px) {
      padding: 0 0.5rem;
    }
  }
}

.font-8 {
  @media screen and (min-width: 768px) {
    font-size: 8rem;
  }
}

.search-form {
  input {
    font-size: 1rem;
  }
}

footer {
  border-top: 7px solid #dbb383;
}

.searchandfilter ul {
  padding-left: 0;
}

@media screen and (min-width: 1400px) {
  body .tropical-fruited h3,
  body .tropical-fruited h1 {
    letter-spacing: 11px;
  }
}
body .tropical-fruited h1 {
  position: relative;
}
body .tropical-fruited h1:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2.3rem;
  transform: translate(0%, 0);
  border-bottom: 5px solid #e8ffff;
}

body .theme-list li:before {
  border-radius: 10%;
  background-position: center center;
  width: 1.3rem;
  height: 1.3rem;
  background-size: 10px;
}

body section.light-lager h3 {
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 6px;
  color: #3e4852;
  font-family: "Athiti-ExtraLight";
}
section.light-lager h1 {
  letter-spacing: 4px;
  position: relative;
}

body section.light-lager h1:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2.3rem;
  transform: translate(0%, 0);
  border-bottom: 5px solid #e8ffff;
}

section.light-lager .theme-list li:before {
  background-color: #f0f8f1 !important;
  background: url(../../dist/img/check-green.svg);
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center;
}

.wheat-ale h3 {
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 8px;
  color: #3e4852;
  font-family: "Athiti-ExtraLight";
}

body .wheat-ale h1 {
  position: relative;
  letter-spacing: 4px;
}

body .wheat-ale h1:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2.3rem;
  transform: translate(0%, 0);
  border-bottom: 5px solid #e5d9c029;
}

section.wheat-ale .theme-list li:before {
  background-color: #e5d9c029 !important;
  background: url(../../dist/img/check-grey.svg);
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center;
}

body .collection h3,
body .collection .h3 {
  line-height: 1.2rem;
  margin-bottom: 0;
}

body .collection h2:after,
body .collection .h2:after {
  bottom: -10px;
  width: 4rem;
}

.bi-navbar .nav-item.active .nav-link::before {
  content: "";
  width: 60%;
  border-bottom: 4px solid #e20e37;
  height: 7px;
}

body footer h4,
body footer .h4 {
  font-size: 1.78rem;
}

body footer li a {
  font-size: 0.88rem;
}

footer .current_page_item a {
  color: #dbb383 !important;
}

.nav-menu > li.active:first-child a {
  color: #dbb383 !important;
}

footer .email-wrap div {
  color: #3e4852;
}
footer .email-wrap a {
  font-weight: 600;
  color: #3e4852 !important;
}

footer .footer-mn {
  border-top: 1px solid #ddd;
  padding-top: 2rem;
  padding-bottom: 0;
  margin-bottom: 0;
}
