.learnmore {
  color: #3e4852;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: 800;
  font-family: "Athiti-Bold";
}

h1 {
  font-family: "DaylightDreams";
}

.view-all {
  text-transform: uppercase;
  font-family: "Athiti-Bold";
  border: 1px solid #3e4852;
  color: #3e4852;
  text-align: center;

  padding: 0.8rem 1rem;
}

.add-to-cart {
  text-transform: uppercase;
  box-shadow: 0px 6px 16px #5e5f5f15;
  font-family: "Athiti-Bold";
  background: #ffff;
  position: relative;
  /* padding: 0.8rem 3rem 0.8rem 5rem;
  &:before {
    content: "";
    position: absolute;
    width: 1rem;
    height: 1rem;
    background: url(../../dist/img/cart-small.svg);
    background-repeat: no-repeat;
    width: 1rem;
    height: 1rem;
    background-size: contain;
    transform: translate(-340%, -50%);
    left: 50%;
    top: 50%;
  } */
}

.add-to-cart.blue {
  &:before {
    background: url(../../dist/img/cart-blue.svg);
  }
}
.add-to-cart.green {
  &:before {
    background: url(../../dist/img/cart-green.svg);
  }
}
.search-form {
  position: relative;
}
.search-form button {
  background-color: transparent;
  border: none;
  outline: none;
  color: #1b2033;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 0 2rem;
  transition: all 0.3s ease;
}
.searchwrap {
  width: 100%;
}

.form-control {
  padding: 0.641rem 4.25rem;
}

.learn-more {
  text-transform: uppercase;
  padding: 0.8rem 3rem;
  box-shadow: 0px 6px 16px #5e5f5f15;
  font-family: "Athiti-Bold";
  color: #3e4852;
  background: #ffff;
  position: relative;
  margin-top: 3rem;
  display: inline-block;
}

.shop {
  text-transform: uppercase;
  padding: 0.8rem 3rem 0.8rem 5rem;
  box-shadow: 0px 6px 16px #5e5f5f15;
  font-family: "Athiti-Bold";
  background: #ffff;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 1rem;
    height: 1rem;
    background: url(../../dist/img/cart-black.svg);
    background-repeat: no-repeat;
    width: 1rem;
    height: 1rem;
    background-size: contain;
    transform: translate(-460%, -50%);
    left: 50%;
    top: 50%;
  }
}

.main-container.content > section::before {
  display: none;
}

.content {
  @media screen and (max-width: 768px) {
    padding-top: 7rem;
  }
}

.page-banner {
  .searchwrap {
    @media screen and (min-width: 1440px) {
      margin-left: 5rem;
    }
    h1 {
      @media screen and (min-width: 1440px) {
        z-index: 99999;
        position: relative;
        background: #fff;
      }
    }
    .search-form {
      @media screen and (min-width: 1440px) {
        width: 80%;
      }
    }
  }
}

.other-wrap {
  a.add-to-cart.btn {
    margin-top: 2rem;
  }
  h5 {
    margin-bottom: 2rem;
  }
}

.hat-img_carousel .slick-arrow {
  @media screen and (max-width: 768px) {
    display: none !important;
  }
}

.navbar-collapse {
  .search-box {
    @media screen and (max-width: 1440px) {
      padding: 0 0.5rem;
    }
  }
}

.font-8 {
  @media screen and (min-width: 768px) {
    font-size: 8rem;
  }
}

.search-form {
  input {
    font-size: 1rem;
  }
}

footer {
  border-top: 7px solid #dbb383;
}
