.main-container>section {
    min-height: 100vh;
    max-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 80%;
        height: 100%;
    }

    .section-content {
        position: relative;
    }
}

.main-container>section:nth-of-type(1) {
    &::before {
        background-color: #E8FFFF;
    }
}

.main-container>section:nth-of-type(2) {
    &::before {
        background-color: #F5F5E9;
    }
}

.main-container>section:nth-of-type(3) {
    &::before {
        background-color: #EDF0F8;
    }
}

.product-tri {
    position: relative;
    isolation: isolate;
    margin-bottom: -4rem;

    img {
        width: auto;
    }

    img:first-child {
        height: 30vh;
    }

    img:nth-child(2) {
        position: absolute;
        top: 50%;
        left: 56%;
        transform: translate(-50%, -50%);
        height: 27vh;
        z-index: -1;
    }

    img:nth-child(3) {
        height: 24vh;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        z-index: -2;
    }
}

.br-meta {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: end;

    p {
        font-size: 22px;
        margin-bottom: 0;
        font-family: $font-family-bold;
    }

    .line-1,
    .line-2 {
        width: 50%;
        height: 3px;
        display: block;
        background-color: #44DCE3;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .line-2 {
        background-color: #AAB583;
    }
}

.arrow-nav {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    z-index: 3;
    display: flex;
    align-items: center;
    flex-direction: column;

    span {
        width: 3rem;
        height: 3rem;
        border: 3px solid #444;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        cursor: pointer;
        box-shadow: 0px 0px 16px 0px transparent;

        img {
            width: 80%;
        }

        &:hover {
            box-shadow: 0px 0px 10px 0px rgba(68, 68, 68, .2);
        }
    }

    .opacity-25 {
        pointer-events: none;
    }

    .down-section {
        width: 4rem;
        height: 4rem;
    }
}

.product-nav {
    position: fixed;
    left: 2rem;
    bottom: 2rem;
    z-index: 3;

    ul {
        list-style: none;
        display: flex;
        align-items: center;
        padding-left: 0;
        margin-bottom: 0;
        margin-top: 1rem;
    }

    img {
        max-height: 6rem;
        margin-right: 1rem;

        &:hover {}
    }
}

@media screen and (min-width: 576px) and (max-width: 991px) {

    .display-1,
    .display-2 {
        font-size: calc(1rem + 6vw);
    }
}

@media screen and (max-width: 576px) {
    .product-nav {
        top: auto;
        left: 1rem;
        transition: all 0.3s ease;

        img {
            max-height: 4rem;
        }
    }

    .product-nav:not(.product-fix) {
        top: 7rem;
        bottom: auto;
    }

    .sec2Img,
    .sec3Img {
        max-height: 40vh;
        float: right;
    }

    .main-container {
        min-height: 99vh;
        max-height: 99vh;
        &>section {
            min-height: 97vh;
            max-height: 97vh;
        }
    }
}

@media screen and (min-width: 768px) {
    .product-tri {
        margin-bottom: 0;

        img:first-child {
            height: 38vh;
        }

        img:nth-child(2) {
            height: 34vh;
        }

        img:nth-child(3) {
            height: 30vh;
        }
    }

    .arrow-nav {
        span {
            width: 4rem;
            height: 4rem;
            border: 4px solid #444;
        }

        .down-section {
            width: 5rem;
            height: 5rem;
        }
    }
}

@media screen and (min-width: 992px) {
    .product-tri {
        img:first-child {
            height: 70vh;
        }

        img:nth-child(2) {
            height: 60vh;
        }

        img:nth-child(3) {
            height: 50vh;
        }
    }
}