.main-container>section {
    min-height: 100vh;
    max-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 80%;
        height: 100%;
    }

    .section-content {
        position: relative;
    }
}

.main-container>section:nth-of-type(1) {
    &::before {
        background-color: #E8FFFF;
    }
}

.main-container>section:nth-of-type(2) {
    &::before {
        background-color: #F5F5E9;
    }
}

.main-container>section:nth-of-type(3) {
    &::before {
        background-color: #EDF0F8;
    }
}

.product-tri {
    position: relative;
    isolation: isolate;
    margin-bottom: -4rem;

    img {
        width: auto;
    }

    img:first-child {
        height: 30vh;
    }

    img:nth-child(2) {
        position: absolute;
        top: 6%;
        left: 20%;
        //transform: translate(-50%, -50%);
        height: 27vh;
        z-index: -1;
    }

    img:nth-child(3) {
        height: 24vh;
        position: absolute;
        top: 10%;
        right: 0;
        //transform: translate(0%, -50%);
        z-index: -2;
    }
}

.product-tri-v2 {
    position: relative;
    isolation: isolate;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: auto;
        position: relative;
    }

    img:first-child {
        height: 350px;
    }

    img:nth-child(2) {
        height: 250px;
        z-index: -1;
        margin-left: -6rem;
    }

    img:nth-child(3) {
        height: 170px;
        z-index: -2;
        margin-left: -4rem;
    }
}

.br-meta {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: end;

    p {
        font-size: 22px;
        margin-bottom: 0;
        font-family: $font-family-bold;
    }

    .line-1,
    .line-2 {
        width: 50%;
        height: 3px;
        display: block;
        background-color: #44DCE3;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .line-2 {
        background-color: #AAB583;
    }
}

.arrow-nav {
    //position: fixed;
    right: 2rem;
    bottom: 2rem;
    z-index: 3;
    display: flex;
    align-items: center;
    flex-direction: column;

    span {
        width: 3rem;
        height: 3rem;
        border: 3px solid #444;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        cursor: pointer;
        box-shadow: 0px 0px 16px 0px transparent;

        img {
            width: 80%;
        }

        &:hover {
            box-shadow: 0px 0px 10px 0px rgba(68, 68, 68, .2);
        }
    }

    .opacity-25 {
        pointer-events: none;
    }
}

.product-nav {
    //position: fixed;
    left: 2rem;
    bottom: 2rem;
    z-index: 3;

    ul {
        list-style: none;
        display: flex;
        align-items: center;
        padding-left: 0;
        margin-bottom: 0;
        margin-top: 1rem;
    }

    img {
        max-height: 6rem;
        margin-right: 1rem;

        &:hover {}
    }
}

@media screen and (min-width: 576px) and (max-width: 991px) {

    .display-1,
    .display-2 {
        font-size: calc(1rem + 6vw);
    }
}

@media screen and (max-width: 576px) {
    .product-nav {
        top: auto;
        left: 1rem;
        transition: all 0.3s ease;

        img {
            max-height: 4rem;
        }
    }

    .product-nav:not(.product-fix) {
        top: 7rem;
        bottom: auto;
    }

    .sec2Img,
    .sec3Img {
        max-height: 40vh;
        float: right;
    }

    /* .main-container {
        min-height: 99vh;
        max-height: 99vh;

        &>section {
            min-height: 97vh;
            max-height: 97vh;
        }
    } */
}

@media screen and (max-width: 991px) {
    .title-md {
        font-size: 100px;
    }
}

@media screen and (max-width: 767px) {

    /* .product-tri img{
        opacity: 1 !important;
        transform: translate(0, 0) !important;
    } */

    .home-banner-img img {
        max-height: 40vh;
        object-fit: cover;
        object-position: bottom;
    }

    .home-banner {
        text-align: center;
    }

    div.banner-left-wrap {
        margin-right: 0;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .subtitle-sm {
        font-size: 28px;
        margin-bottom: 0;
    }

    .title-sm {
        font-size: 100px;
    }

    .beer-nav-toggle {
        display: none;
    }

    .shop-home {
        min-height: 70vh;
        isolation: isolate;

        &.bg-gray {
            background-color: $white;
        }
    }

    .shop-bg-sm {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        min-height: 60vh;
        z-index: -1;
    }

    .title-md {
        font-size: 80px;
    }
}

@media screen and (min-width: 768px) {
    .product-tri {
        margin-bottom: 0;

        img:first-child {
            height: 38vh;
        }

        img:nth-child(2) {
            height: 34vh;
            top: 6%;
            left: 30%;
        }

        img:nth-child(3) {
            height: 30vh;
            top: 10%;
        }
    }

    .product-tri-v2 {
        img:first-child {
            height: 650px;
        }

        img:nth-child(2) {
            height: 550px;
            margin-left: -14rem;
        }

        img:nth-child(3) {
            height: 436px;
            margin-left: -12rem;
        }
    }

    .arrow-nav {
        span {
            border: 4px solid #444;
            width: 5rem;
            height: 5rem;
        }
    }
}

@media screen and (min-width: 820px) and (max-width:850px) {
    .product-tri {
        img:nth-child(2) {
            left: 18%;
        }
    }
}

@media screen and (min-width: 992px) {
    .product-tri {
        img:first-child {
            height: 650px;
        }

        img:nth-child(2) {
            height: 550px;
            top: 8%;
            left: 22%;
        }

        img:nth-child(3) {
            height: 470px;
            top: 15%;
        }
    }
}

@media screen and (min-width: 1200px) {
    .product-tri {
        img:nth-child(2) {
            left: 28%;
        }
    }
}

@media screen and (min-width: 1400px) {
    .product-tri {
        img:nth-child(2) {
            left: 30%;
        }
    }
}