@media screen and (min-width: 1400px) {
  .gutters-50 {
    margin-left: -5rem;
    margin-right: -5rem;
  }

  .gutters-50 > [class*="col-"] {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .gutters-40 {
    margin-left: -4rem;
    margin-right: -4rem;
  }

  .gutters-40 > [class*="col-"] {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .gutters-30 {
    margin-left: -3rem;
    margin-right: -3rem;
  }

  .gutters-30 > [class*="col-"] {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.big-can-img {
  position: absolute;
  left: 0;
  bottom: 0;

  transform: translate(-60%, 10%);
  img {
    width: 100%;
  }
}
.banner-left-wrap {
  h4 {
    font-family: "Athiti-Light";
    color: #dbb383;
  }
  h1 {
    font-family: "DaylightDreams";
  }
  p {
    @media screen and (min-width: 1400px) {
      max-width: 30rem;
    }
  }
}

.theme-list {
  list-style: none;

  li {
    position: relative;
    &:before {
      content: "";
      background: url(../../dist/img/check.svg);
      background-repeat: no-repeat;
      width: 1rem;
      height: 1rem;
      background-size: contain;
      background-color: #e8ffff;
      border-radius: 50%;
      display: inline-block;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(-190%, -50%);
    }
  }
}

.tropical-fruited {
  h3 {
    letter-spacing: 20px;
    font-family: "Athiti-ExtraLight";
    font-size: 3rem;
    text-transform: uppercase;
  }
  h1 {
    font-family: "DaylightDreams";
  }
}

.collection {
  h3 {
    font-family: "Atithi-ExtraLight";
    font-family: "Athiti-ExtraLight";
    font-size: 3rem;
    letter-spacing: 20px;
    text-transform: uppercase;
  }

  h2 {
    font-family: "DaylightDreams";
    position: relative;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 6rem;
      transform: translate(-50%, 0);
      border-bottom: 5px solid #dbb383;
    }
  }
}

.hat-img_carousel {
  .slick-arrow {
    opacity: 1;
    visibility: visible;
  }
}

.logo-img_container {
  text-align: center;
  p {
    margin-bottom: 0rem;
    font-size: 1.3rem;
  }
  .price {
    margin-bottom: 1rem;
    font-family: "Athiti-Bold";
    font-size: 1.5rem;
    color: #3e4852;
  }
}

.hat-img_carousel {
  .slick-list::before,
  .slick-list::after {
    background: #fff !important;
  }
  .slick-next,
  .custom_nav_container .fake-prev,
  .custom_nav_container .fake-next,
  .slick-prev {
    background: #fff;
    color: #000 !important;
    box-shadow: 0px 6px 16px #475b9324;
  }
  .slick-next::before,
  .custom_nav_container .fake-prev::before,
  .custom_nav_container .fake-next::before,
  .slick-prev::before {
    color: #000 !important;
  }
  .slick-dots li.slick-active button:before {
    color: #dbb383 !important;
  }
  .slick-dots li button:before {
    content: "" !important;
    border: 1px solid #707070;
  }
  .slick-active button:before {
    background-color: #dbb383 !important ;
    border: 0 !important;
  }
}

.strore-wrap {
  border: #dbb3833c 1px solid;
  padding: 2rem;
  margin-bottom: 8rem;
  position: relative;
  .logo {
    position: absolute;
    border: 1px solid #dbb3833c;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -5rem;
    background: #fff;
    img {
      width: 100%;
    }
  }
  .desc-wrap {
    padding-top: 5rem;
    font-family: "Athiti";
    h3 {
      font-family: "Athiti-Bold";
      text-transform: uppercase;
      font-size: 1.5rem;
    }
    img {
      width: 1rem;
      height: 1rem;
      margin-right: 1rem;
    }
  }
}

.wp-pagenavi {
  ul {
    list-style: none;
    margin-bottom: 5rem;
    li {
      a {
        padding: 0.5rem;
        border: #3e4852 1px solid;
        margin-right: 1rem;
        line-height: 0.7;
        color: #3e4852;
      }
      span.current {
        padding: 0.5rem;
        border: #3e4852 1px solid;
        margin-right: 1rem;
        line-height: 0.7;
        background-color: #3e4852;
        color: #fff;
      }
      .next {
        padding: 0.5rem;
        border: #3e4852 1px solid;
        margin-right: 1rem;
        line-height: 0.7;
        background-color: #3e4852;
        color: #fff;
      }
    }
  }
}

.btn-wrap {
  margin-top: 2rem;
  & > a {
    padding: 0.5rem;
    font-family: "Athiti-Bold";
    color: #3e4852;
    text-transform: uppercase;
  }
  .directions {
    border: 1px solid #3e4852;
    color: #fff;
    background: #3e4852;
  }
}

.img-wrap {
  padding: 3rem 0;
  margin: auto;
}

.img-back {
  position: relative;
}
.blueback {
  &:before {
    position: absolute;
    left: 0%;
    top: 0;
    background-color: #e8ffff;
    content: "";
    height: 100%;
    width: 50%;
    z-index: -1;
  }
}

.greenback {
  &:before {
    position: absolute;
    left: 0%;
    top: 0;
    background-color: #f0f8f1;
    content: "";
    height: 100%;
    width: 50%;
    z-index: -1;
  }
}

.orangeback {
  &:before {
    position: absolute;
    left: 0%;
    top: 0;
    background-color: #fdf5f4;
    content: "";
    height: 100%;
    width: 50%;
    z-index: -1;
  }
}

.shop-top {
  .img-wrap {
    width: 10rem;
  }
  h4 {
    font-family: "Athiti-Light";
    text-transform: uppercase;
    margin-top: 2rem;
  }
  h3 {
    font-family: "Athiti-Medium";
    text-transform: uppercase;
  }
}

.shop-bottom {
  h2 {
    font-family: "DaylightDreams";
  }
  h5 {
    font-family: "Athiti-Bold";
  }
  .other-wrap {
    margin-bottom: 2rem;
    background: #f9f9fc;
    padding: 2rem;
  }
}
