/* .product-tri img{
    &.can-1.slideUp{
        transform: translateY(-100%);
        opacity: 0;
    }
    &.slideUp:nth-child(2){
        transform: translate(-50%, -150%);
        opacity: 0;
    }
    &.slideUp:nth-child(3){
        transform: translateY(-150%);
        opacity: 0;
    }
}
.product-tri img,
.sec2Img,
.sec3Img{
    transform: translateY(0);
    opacity: 1;
    transition: all 0.3s linear;
    &.slideUp{        
        transform: translateY(150%);
        opacity: 0;
    }
}

 */
.product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1.5rem;

    p {
        margin: 0;
        font-size: 20px;
        line-height: 28px;
    }
    .price{
        font-size: 24px;
        color: #3E4852;
        font-family: "Athiti-Bold";
        margin-bottom: 1rem;
    }
}

.product-img-container {
    width: 100%;
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.bg-light-c {
    background-color: #F9F9FC;
}
@media screen and (min-width: 768px){
    .product-container {    
        p {
            min-height: 90px;
        }
    }
    /* Equal height Slider */
    .slick-track {
        display: flex !important;
    }
    
    .slick-slide {
        height: inherit !important;
    }  
    .slick-dots{
        bottom: -50px;
    }  
}