.form-control{
    &.fc-outline {
        background-color: transparent;
    }

    &.fc-outline {
        background-color: transparent;
        border-color: $white;
        color: $white;

        &::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $white;
            opacity: 1;
            /* Firefox */
        }

        &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: $white;
        }

        &::-ms-input-placeholder {
            /* Microsoft Edge */
            color: $white;
        }
    }

    &-lg {
        +.btn-search {
            top: .7rem;
            right: 2rem;
        }
    }
}

.form-search {
    position: relative;

    .form-control {
        border-color: transparent;
    }
    .btn-search {
        position: absolute;
        top: 0;
        right: 1rem;
        background: transparent;
        border: none;
        font-size: 1.5rem;
        color: $primary;
        padding: 1rem;
        line-height: 1rem;
    }
}

.form-check-label{
    font-size: $input-font-size;
    white-space: nowrap;
    background-color: $white;
    box-shadow: $input-box-shadow;
    padding: $btn-padding-y $btn-padding-x $btn-padding-y 2.8rem;
    position: relative;
    &::after,
    &::before{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    &::before{
        content: '';
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: #E8F0FC;
        left: 1rem;
        transition: background-color 0.3s ease;
    }
}
.btn-check:hover+.form-check-label, 
.btn-check:focus+.form-check-label{
    background-color: rgba($white, 0.8);
    box-shadow: 0px 0px 2px rgba(40, 91, 154 , 0.09);
    &::before{
        background-color: rgba($primary, 0.3);
    }
}
.btn-check:active+.form-check-label, 
.btn-check:checked+.form-check-label{
    &::after{
        content: "\f00c";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        color: $white;
        left: 1.3rem;
        font-size: 0.5rem;
    }
    &::before{
        background-color: $primary;
    }
}

.form-divider{
    position: relative;
    margin-top: 3rem;
    margin-bottom: 1rem;
    text-align: center;
    &::after{
        content: '';
        position: absolute;
        left: 0;
        bottom: 50%;
        transform: translateY(-50%);
        width: 100%;
        border-bottom: 1px solid #C4D5EF;
        z-index: -1;
    }
    span{
        display: inline-block;
        background-color: $bg-s-light;
        padding: 1rem 2rem;
        margin: 0;
    }
}

@media screen and (max-width:992px){
    .form-select{
        padding: 0.641rem;
        background-position: right 0.5rem center;
    }
}