@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap);

@font-face {
  font-family: Athiti;
  src: url(../fonts/Athiti-Regular.ttf);
}

@font-face {
  font-family: Athiti-Bold;
  src: url(../fonts/Athiti-Bold.ttf);
}

@font-face {
  font-family: Athiti-Light;
  src: url(../fonts/Athiti-Light.ttf);
}
@font-face {
  font-family: Athiti-Medium;
  src: url(../fonts/Athiti-Medium.ttf);
}

@font-face {
  font-family: Athiti-ExtraLight;
  src: url(../fonts/Athiti-ExtraLight.ttf);
}

@font-face {
  font-family: "DaylightDreams";

  src: url(../fonts/DaylightDreamsRegular.ttf);
}
